.btn {
  color: #FFFFFF;
  font-size: 1rem;
  background-color: #FF5733;
  border-radius: 0.375rem;
  padding: 0.75rem 1.5rem;
  margin-top: 2.25rem;
  text-transform: uppercase;
  transition: 0.4s all;
  cursor: pointer;
}

.btn:hover {transform: scale(1.1);}