/* #reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Open sans', sans-serif;
  color: #333333;
  background-color: #F0F0F0;
}

section {margin-bottom: 4rem;}

ul {list-style: none;}

button {border: none;}

img {max-width: 100%}

/* #container  */
.container {
  max-width: 1140px;
  margin: 40px auto;
  padding: 15px;
}